html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d0e4fe;
}
#map {
  height: 100%;
}
#pac-input {
  z-index: 0;
  position: absolute;
  left: 114px;
  top: 8px !important;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  argin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
}

.form-data{
  font-size: 15px;
  font-family: "Serif";

}

.submitbtn {
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: 1px solid green;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.submitbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitbtn span:after {
  content: ' >>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitbtn:hover span {
  padding-right: 25px;
}

.submitbtn:hover span:after {
  opacity: 1;
  right: 0;
}


.inputtextbox{
  border-radius: 80%;
  padding: 5px;
}

.addBtn{
  background-image: url("img/add-icon.png");
}